body{
    color: #40514E;   
    margin: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.top-container {
    background-color: #E4F9F5;
    padding-top: 50px;
    position: relative;
}
h1 {
    color: #30E3CA;
    margin-bottom: 25px;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 5.625rem;
}
h2 {
    color: #11999E;
    font-family: 'Crimson Text', serif;
    font-size: 2rem;
    font-weight: normal;
}
h3 {
    color: #30E3CA;
    font-family: 'Crimson Text', serif;  
    font-size: 1.5rem;
    font-weight: normal;
}
.upper-cloud {
    position: absolute;
    right: 400px;
    top:60px;
}
.lower-cloud {
    position: absolute;
    left: 300 px;
    bottom: 300px;
}
.profile-picture {
    height: 200px;
    border-radius: 100%;
}
.microsoft-office-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}
.cad-img {
    width: 25%;  
    float: right;
    margin-left: 30px; 
}
.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}
.profile-hr {
    border:none;
    border-top: dotted;
    border-width: 10px;
    margin: 50px auto 100px;
    width: 5%;
}
.skill-hr {
    border:none;
    border-top: dotted;
    border-width: 10px;
    margin: 150px auto 100px;
    width: 5%;
}
.bottom-container {
    background-color: #E4F9F5;
    margin-top: 50px;
    padding: 10px;
}
.button {
    background: #30E3CA;
    background-image: -webkit-linear-gradient(top, #30E3CA, #1E62D0);
    background-image: -moz-linear-gradient(top, #30E3CA, #1E62D0);
    background-image: -ms-linear-gradient(top, #30E3CA, #1E62D0);
    background-image: -o-linear-gradient(top, #30E3CA, #1E62D0);
    background-image: -webkit-gradient(to bottom, #30E3CA, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #40514E;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 29px;
    font-weight: 100;
    padding: 13px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .button:hover {
    border: solid #3D94F6 1px;
    background: #F08FC0;
    background-image: -webkit-linear-gradient(top, #F08FC0, #3D94F6);
    background-image: -moz-linear-gradient(top, #F08FC0, #3D94F6);
    background-image: -ms-linear-gradient(top, #F08FC0, #3D94F6);
    background-image: -o-linear-gradient(top, #F08FC0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #F08FC0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
a {
    margin: 25px;
    text-decoration: none;
    color: #11999E;
}
a:visited {
    color: #11999E;
}
a:hover {
    color: #F08FC0;
}
.copyright {
    font-size: 0.8rem;
}


